<div class="table-responsive">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Blocks</th>
        <th>Shares/Diff</th>
        <th>Uncle Rate</th>
        {{!-- <th>Orphan Rate</th> --}}
      </tr>
    </thead>
    <tbody>
    {{#each-in model.luck as |total row|}}
    <tr>
      {{#unless row}}
        <td>Last {{total}} blocks</td>
      {{/unless}}
      {{#if (eq row (sub model.luck.length 1))}}
        <td>All blocks</td>
      {{/if}}
      <td>{{format-number row.luck style='percent'}}</td>
      <td>{{format-number row.uncleRate style='percent'}}</td>
      {{!-- <td>{{format-number row.orphanRate style='percent'}}</td> --}}
    </tr>
    {{/each-in}}
    </tbody>
  </table>
</div>
